@font-face {
    font-family: 'Cabin Sketch';
    font-style: normal;
    font-weight: 700;
    src: local('CabinSketch Bold'), local('CabinSketch-Bold'), url(http://themes.googleusercontent.com/static/fonts/cabinsketch/v5/ki3SSN5HMOO0-IOLOj069Hl4twXkwp3_u9ZoePkT564.woff) format('woff');
}

/* ------ Startreset Styles
-----------------------------------------------*/
body, ul, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
}

/* End reset styles */


/* ------ Startlayout styles
-----------------------------------------------*/
body {
    background:#f5f5f5;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
    color:#333;
    line-height: 1.5;
}

h1 {
    font-family:'Cabin Sketch', arial, sans-serif;
    text-shadow:3px 3px 0 #ddd;
    color:#193340;
    font-size:5em;
    line-height: 1.5em;
    text-align:center;
}

h2 {
    font-size: 3em;
    line-height: 3em;
    font-weight: normal;
    opacity: 0;
    filter: alpha(opacity=0);
}

h3 {
    font-size: 1.5em;
}

.inner {
    width: 980px;
    margin: 0 auto;
    position: relative;
}
/* End layout styles */


/* ------ Startmisc styles
-----------------------------------------------*/
.clearfix, .inner {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after,
.inner:before,
.inner:after {
    display: table;
    content: "";
}

.inner:after,
.clearfix:after {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.none {
    display: none;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.hidden {
    visibility: hidden;
}

/* End misc styles */

/* ------ Start sideNav styles
-----------------------------------------------*/
#sideNav {
    position: fixed;
    display: none;
    top: 40%;
    right: 2%;
    width: 57px;
    height: 200px;
}

#sideNav span {
    display: block;
    cursor: pointer;
    width: 60px;
    height: 57px;
    background: url(/media/thumb2/nav_arrow.png);
}

#sideNav .up {
    background-position: 0 55px;
}

#sideNav .down {
    margin-top: 10px;
}
/* End sideNav styles */


/* ------ Start intro styles
-----------------------------------------------*/
#intro {
    padding-bottom: 50px;
}

#intro .text,
#intro .contact {
    display: none;
}
#intro .leftBracket,
#intro .rightBracket {
    position: absolute;
    top: 128px;
    width: 55px;
    height: 200px;
    opacity: 0;
    background: url(/media/thumb2/brackets.png);
}

#intro .leftBracket {
    left: -180px;
}

#intro .rightBracket {
    right: -180px;
    background-position: 50px 0;
}

#intro .text{
    width: 610px;
    float: left;
    font-size: 2em;
    margin-left: 30px;
}

#intro .text strong {
    color: #285AA9;
    font-weight: normal;
    font-size: 1.2em;
    padding: 0 5px;
}

#intro .contact {
    width: 300px;
    float: right;
}

#intro .contact h3 {
    margin-bottom: 20px;
}

#intro .contact li {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#intro .contact li:hover,
#intro .contact a:hover {
    color: #285AA9;
    text-decoration: underline;
}

#intro .scrollDown {
    float: left;
    width: 100%;
    margin-top: 50px;
    height: 100px;
    position: relative;
}
#intro .down {
    position: absolute;
    width: 64px;
    height: 70px;
    cursor: pointer;
    background: url(/media/thumb2/blue_arrow_down.png);
    left: 458px;
}

/* End intro styles */


/* ------ Startskills styles 
-----------------------------------------------*/
#skills {
    height:600px;
    background: url(/media/thumb2/bg-divider.jpg) repeat-x left top white;
    padding-bottom: 50px;
}

.legend {
    float:left;
    width:150px;
    margin-top:140px;
}

.legend h3 {
    text-align: right;
}

.skillsList {
    padding:0;
    list-style:none;
}

.skillsList li {
    display:block;
    float:right;
    clear:both;
    padding:0 15px;
    height:35px;
    line-height:35px;
    color:#fff;
    margin-bottom:1px;
    font-size:18px;
    cursor: pointer;
    opacity: 0;
}

.skillsList .js {
    background:#97BE0D;
}

.skillsList .css {
    background:#D84F5F;
}

.skillsList .html {
    background:#88B8E6;
}

.skillsList .others {
    background:#BEDBE9;}

#skillsArc {
    float:left;
    width:830px;
    height:500px;
}

/* End skills styles */


/* ------ Start experiences styles
-----------------------------------------------*/
#experiences {
    background: rgba(204,204,204,0.1);
    border-top: 2px solid #eaeaea;
    border-bottom: 2px solid #eaeaea;
}

#experienceTimeLine {
    width: 800px;
    margin: 0 auto;
    height: 685px;
}
/* End experiences styles */


/* ------ Start projects styles
-----------------------------------------------*/
#projectsGallery {
    height: 605px;
}
#projectIntro {
    position: absolute;
    bottom: 0;
}
#projectIntro table {
    position: absolute;
    width: 500px;
    bottom: 35px;
    left: 300px;
    display: none;
}

#projectIntro .label {
    text-align: right;
}

#projectIntro .content {
    text-align: left;
}

#galleryCursor {
    display: none;
    position: absolute;
    right: 50px;
    top: 100px;
    width: 100px;
    height: 50px;
    font-size: 2.5em;
    color: #193340;
}

.projectTable{
    font-size: 2.5em;
}

.projectTable strong{
    color: #285AA9;
    font-weight: normal;
    font-size: 1.2em;
    padding: 0 5px;
}

.projectTable .projectTd{
    font-size: 0.8em;
    /*width: 3500px;*/
}
/* End projects styles */

/* ------ Start final styles
-----------------------------------------------*/
#final {
    padding-bottom: 100px;
    background: url(/media/thumb2/bg-divider.jpg) repeat-x left top white;
}

#final .text {
    opacity: 0;
    font-size: 2em;
}

#final strong {
    color: #285AA9;
    font-weight: normal;
    font-size: 1.2em;
    padding: 0 5px;
}

#final .backTop {
    text-decoration: underline;
    cursor: pointer;
}

#final .download {
    margin-top: 20px;
    font-size: 0.6em;
}

#final .here {
    color: #285AA9;
    font-size: 1.2em;
    padding: 0 5px;
    text-decoration: underline;
}
/* End final styles */


/* ------ Start footer styles
-----------------------------------------------*/
#footer {
    background:#2D2D2D;
    color:#EAEAEA;
    padding:20px 0;
}

#footer a {
    color:#EAEAEA;
}

#footer a:hover {
    color:#E4842C;
}

#footer .copyright {
    font-family: 'Cabin Sketch', "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size:16px;
    text-align:center;
}

/* End footer styles */

/* ------ Start anchors styles
-----------------------------------------------*/
a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration:underline;
    color:#285AA9;
}

/* End anchors styles */


/* ------ Start icon styles
-----------------------------------------------*/
.icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

/* End anchors styles */


/* ------ Start svg styles
-----------------------------------------------*/
path, circle {
    cursor: pointer;
}

/* End svg styles */



/* ------ Start animate styles
-----------------------------------------------*/
.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.fadeInLeftBig {
    -webkit-animation-name: fadeInLeftBig;
    animation-name: fadeInLeftBig;
}

@-webkit-keyframes tada {
    0% {-webkit-transform: scale(1);}
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
100% {-webkit-transform: scale(1) rotate(0);}
    }

@keyframes tada {
    0% {-webkit-transform: scale(1);transform: scale(1);}
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);transform: scale(0.9) rotate(-3deg);}
30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);transform: scale(1.1) rotate(3deg);}
40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);transform: scale(1.1) rotate(-3deg);}
100% {-webkit-transform: scale(1) rotate(0);transform: scale(1) rotate(0);}
    }

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
    }

    80% {
        -webkit-transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-2000px);
        transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

/* End animate styles */
