@font-face{
  font-family:"orbitron-bold";
  src:url(../font/orbitron-bold-8e4381a2e2ac76f4f345eb5468ca0d60.eot);
  src:url(../font/orbitron-bold-8e4381a2e2ac76f4f345eb5468ca0d60.eot?#iefix) format("eot"),url(../font/orbitron-bold-53a1649f0d8d8ae96068bee40235f07e.woff) format("woff"),url(../font/orbitron-bold-0fa29a8a306673770cb653fb43b1faf0.ttf) format("truetype"),url(../font/orbitron-bold-b42aa650e65ed1ba462fe558584b4af4.svg) format("svg")
}
h1{
  color: #049cdb;
  display: inline-block;
  font-family: "orbitron-bold";
  font-size: 30px;
  line-height: 48px;
  margin: 0;
  vertical-align: middle;
}
.home-bg{
  z-index: 1;
  width: 100%;
  height:100%;
  position: fixed;

  display: block;
  background: url(../img/bg.jpg) no-repeat center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.main{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}
.home-avatar{
  padding: 70px 0 0 100px;
}

.avatar{
  overflow: hidden;
  width: 70px;
  -moz-border-radius: 25%;
  -webkit-border-radius: 25%;
  border-radius: 25%;
  margin: 0px 15px -30px 0px;
}