extends layout/common.jade

block content
    #first-page.clearfix
        .inner-content
            .heading Hey!
            p Im Eric Wang, fancy to meet u!
            p More about me? Scroll down and check it out! >_<
            .scroll-label.animated.infinite.flash
                i.fa.fa-angle-double-down