extends layout/common.jade

block content
    #first-page.clearfix
        .inner-content
            .heading Hey!
            p Im Eric Wang, fancy to meet u!
            p More about me? Just scroll Down >_<
            .scroll-label
                i.fa.fa-angle-double-down