body
    background-color #29282C
.intro-wrap
    display table-cell
    h1
        color white
        font-size 72px
        font-weight 400
        text-align center
    .heading
        margin-bottom 10px
        margin-top 0
        display none
    .content
        p
            color #69676A
            font-size 16px
            text-align center
    .scroll-label
        text-align center
        display none
        margin 0 auto
        position absolute
        left 49.5%
        bottom 40px
        color white
        font-size 40px
        cursor pointer
#first-page
    height 2000px
    display table
    margin 0 auto
#second-page
    height 2000px
    display table
    margin 0 auto
.experience-wrap
    width 980px
    margin 0 auto
    position relative
#experienceTimeLine
    width 800px
    height 800px
    margin 0 auto
    position relative